<form #registerForm="ngForm" (ngSubmit)="register()" action="">
  <h2 class="text-center text-primary">Sing Up</h2>
  <hr>

  <div class="form-group text-center">
    <label>
      <input type="text" class="form-control" required name="username"  [(ngModel)]="model.username" placeholder="Username">
    </label>
  </div>

  <div class="form-group text-center">
    <label>
      <input type="text" class="form-control" required name="password" [(ngModel)]="model.password" placeholder="Password">
    </label>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
  </div>
</form>
